{% extends "base.html" %}

{% block content %}
<!-- The user must be loged in to book a session else redirected to login/sign up page -->

{% if not user.is_authenticated %}
    <section class="book_a_session">
        <div class="login-auth">
            <div class="row">
                <div class="col-md-3 mt-5 offset-md-3">
                    <h3>Login Required</h3>
                    <p><a href="{% url 'account_login' %}">Login</a> to continue with your TTRPG booking</p>
                </div>
            </div>
        </div>
    </section>
{% else %}
<!-- If authenticated user may fill out presented form, safely -->
{% if user.is_authenticated %}
    <section class="book_a_session">
        <div class="booking_container ">
            <div class="row">
                <div class="col-md-4 mt-2 offset-md-3">
                    <h4 class="">Booking a 1:1 Chat about TTRPG's:</h4>
                    <p>Let's have a chat about what might suit you!? </p>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}

                        <button id="submit-button" class="btn btn-success">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endif %}
{% endif %}

{%endblock%}